<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-1">
</div>
    <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Forgot Password</h5>
            </div>
            <div class="ibox-content">
                <%= form_tag generate_new_password_email_path, class: "form-horizontal" do %>
                  <div class="form-group"><label class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <%= email_field_tag :email , nil, placeholder: "Enter email address", class: "form-control" %>
                    </div>
                  </div>  
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <%= submit_tag "Send reset password email", class: "btn btn-sm btn-primary" %>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
