<div class="col-lg-1">
</div>
<div class="col-lg-10">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Areas</h5>
        </div>
        <div class="ibox-content">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% areas.each do |area| %>
				  <tr>
				    <td><span class="line"><%= area.number %></span></td>
				    <td><%= area.description %></td>
				    <td><%= link_to edit_area_path(id: area.id) do %><i class="fa fa-pencil-square-o"></i> <%end%> &nbsp&nbsp <%= link_to area_path(id: area.id), data: { confirm: 'Are you sure?' }, method: :delete do %><i class="fa fa-remove"></i> 
				    <%end%> </td>
				  </tr>
				<%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>