<div class="row new-area-form">
<div class="col-lg-1">
</div>
    <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>New Area</h5>
                <div class="ibox-tools">
                    <%= link_to areas_path,style: "color:grey;" do %><i class="fa fa-remove"></i> 
                    <%end%>
                </div>
            </div>
            <div class="ibox-content">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>