<label class="col-lg-2 control-label">Area</label>
<div class="col-lg-9">                      
	<%= f.collection_select :area_id, areas, :id, :description, { prompt: 'Select area' }, { class: "form-control m-b goal-area-field" } %>
</div>
